     *{
		 margin: 0;
		 padding: 0;
	}
        body{
		background-image:url("../../images/bg-image.png");
		font-family:Ink Free;
		}
        
        .formcontainer{ 
		width: 400px; 
		background-image:url("../../images/logbg.png");
		padding: 40px 20px; 
		box-sizing: border-box; 
		position: fixed; 
		left: 50%; 
		top: 50%; 
		transform: translate(-50%, -50%);
		border: 1px solid white;
		font-family:Ink Free;
		border-radius:40px;
		}
		
        h1{
		text-align: center; 
		color: #fff; 
		font-weight: normal; 
		margin-bottom: 20px;
		}
        
        input{
		width: 100%;
		background: none; 
		border: 1px solid #fff; 
		text-align:center;
		font-family:Ink Free;
		border-radius: 3px; 
		padding: 6px 15px; 
		box-sizing: border-box; 
		margin-bottom: 20px; 
		font-size: 20px; 
		color: black;
		border-radius:40px;
		}
        
        input[type="submit"]{ margin-left:80px; width:200px;background:white; border: 0; cursor: pointer; color: black; border-radius:20px;}
        input[type="submit"]:hover{ background:red; color:white;transition: .6s;}
        
        ::placeholder{color: #fff;}
